# Organizing tables

In [213]:
import pandas as pd
import collections

In [214]:
dat = pd.read_csv('Customizable_Annual_Data/Annual_Data2018.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,35,36,37,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [215]:
dat['r_id'] = dat.groupby(['Restaurant']).ngroup()
restaurant = dat[['r_id', 'Restaurant']].drop_duplicates().sort_values(by=['r_id'])
restaurant.rename(columns={'Restaurant':'r_name'}, inplace=True)
restaurant

      r_id                       r_name
2120     0                     7 Eleven
4        1                   Applebee's
1153     2                       Arby's
4345     3                Auntie Anne's
1817     4  BJ's Restaurant & Brewhouse
...    ...                          ...
1155    91                  Whataburger
1482    92                 White Castle
1524    93                     Wingstop
1537    94                   Yard House
5484    95                      Zaxby's

[96 rows x 2 columns]

In [216]:
dat['cat_id'] = dat.groupby(['Food_Category']).ngroup()
food_category = dat[['cat_id', 'Food_Category']].drop_duplicates().sort_values(by=['cat_id'])
food_category.rename(columns={'Food_Category':'cat_name'}, inplace=True)
food_category

     cat_id                cat_name
12        0      Appetizers & Sides
369       1             Baked Goods
16        2               Beverages
130       3                 Burgers
263       4                Desserts
0         5                 Entrees
132       6          Fried Potatoes
306       7                   Pizza
32        8                  Salads
1         9              Sandwiches
4        10                    Soup
3        11  Toppings & Ingredients

In [217]:
item_info = dat[['Menu_Item_ID', 'Year', 'Item_Name', 'Item_Description']].drop_duplicates()
item_info.rename(columns={'Menu_Item_ID':'item_id', 'Year':'year', 'Item_Name':'item_name', 'Item_Description':'item_description'}, inplace=True)
item_info

,item_id,year,item_name,item_description
0,100054,2018,Burrito Bowl,"Burrito Bowl, Burritos & More, Vegetarian Eats..."
1,100057,2018,Quesadilla Kids Meal,"Quesadilla Kids Meal w/ Quesadilla, Applesauce..."
2,100060,2018,Burrito,"Burrito, Burritos & More, Vegetarian Eats; Cho..."
3,100073,2018,"Flour Tortilla, 12.5 in","Flour Tortilla, 12.5 in, Ingredients for Entrees"
4,10012,2018,French Onion Soup,"French Onion Soup w/ Melted Cheese & Croutons,..."
...,...,...,...,...
71167,99835,2018,"Buffalo Chicken Pizza on Hand Tossed Crust, La...","Buffalo Chicken Pizza w/ Buffalo Pizza Sauce, ..."
71168,99966,2018,Tenders Family Meals,"Tenders Family Meals w/ Handcrafted Tenders, S..."
71169,99968,2018,3 Cajun Fish Filets,"3 Cajun Fish Filets, Seafood, Not Available At..."
71170,99969,2018,Fish & Popcorn Shrimp,"Fish & Popcorn Shrimp w/ Side & Biscuit, Seafood"
71171,99971,2018,Seafood Po Boy,"Seafood Po Boy on French Baguette w/ Lettuce, ..."

In [218]:
# Fact table, nutrition data
nutrition_facts = dat[['Menu_Item_ID', 'Year', 'r_id', 'cat_id',
                       'Calories', 'Total_Fat', 'Saturated_Fat', 'Trans_Fat', 'Cholesterol',
                       'Sodium', 'Potassium',
                       'Carbohydrates', 'Protein', 'Sugar', 'Dietary_Fiber']]
nutrition_facts.columns = ['item_id', 'year', 'r_id', 'cat_id',
                           'calories', 'total_fat', 'saturated_fat', 'trans_fat', 'cholesterol',
                           'sodium', 'potassium',
                           'carbs', 'protein', 'sugar', 'dietary_Fiber']
nutrition_facts = nutrition_facts.drop_duplicates()
nutrition_facts

,item_id,year,r_id,cat_id,calories,total_fat,saturated_fat,trans_fat,cholesterol,sodium,potassium,carbs,protein,sugar,dietary_Fiber
0,100054,2018,72,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100057,2018,72,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100060,2018,72,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100073,2018,72,11,300.0,7.0,3.0,0.0,0.0,760.0,50.0,52.0,8.0,2.0,3.0
4,10012,2018,1,10,380.0,22.0,13.0,0.0,60.0,1390.0,NaN,27.0,17.0,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71167,99835,2018,69,7,270.0,8.0,4.0,0.0,30.0,750.0,NaN,37.0,13.0,1.0,2.0
71168,99966,2018,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71169,99968,2018,70,5,380.0,19.0,5.0,0.0,40.0,1650.0,NaN,37.0,16.0,4.0,2.0
71170,99969,2018,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71171,99971,2018,70,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
# Combo builds fact table
combo_facts = dat[dat['Customizable_Build_ID'].notna()]
combo_facts = combo_facts[['Customizable_Build_ID', 'Menu_Item_ID', 'Year', 'Customizable_Builds', 'cat_id']]
combo_facts.columns = ['combo_id', 'item_id', 'year', 'builds', 'cat_id']
combo_facts

          combo_id  item_id  year             builds  cat_id
0      704214541.0   100054  2018          Main Item       5
1       70814571.0   100057  2018          Main Item       9
2      704214551.0   100060  2018          Main Item       9
5        2301341.0    10012  2018  Accompanying Item      10
6        2331351.0    10012  2018  Accompanying Item      10
...            ...      ...   ...                ...     ...
71146   66913561.0    99683  2018  Accompanying Item       8
71147   66913631.0    99683  2018  Accompanying Item       8
71148  661513201.0    99684  2018          Main Item       8
71152   81818032.0      997  2018          Main Item       9
71171  692213732.0    99971  2018          Main Item       9

[44284 rows x 5 columns]

In [222]:
### testing for combo combinations, might be too complicated to implement
h = collections.defaultdict(list)
combo = combo_facts[combo_facts['combo_id'] == 2331351]
key = 1
for i in combo['cat_id'].unique():
    h[key] = combo[combo['cat_id'] == i]['item_id'].to_list()
    key += 1
if max(h.keys()) == 5:
    combin = [(a, b, c, d, e) for a in h[1] for b in h[2] for c in h[3] for d in h[4] for e in h[5]]
    #print(combin)

## Testing for 2017 data

In [176]:
dat2017 = pd.read_csv('Customizable_Annual_Data/Annual_Data2017.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,36,37,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [166]:
# Get restaurant ID
dat2017 = pd.merge(dat2017, restaurant, left_on=['Restaurant'], right_on='r_name', how='left')
# Get food category ID
dat2017 = pd.merge(dat2017, food_category, left_on=['Food_Category'], right_on='cat_name', how='left')

In [167]:
item_info_2017 = dat2017[['Menu_Item_ID', 'Year', 'Item_Name', 'Item_Description']].drop_duplicates()
item_info_2017.rename(columns={'Menu_Item_ID':'item_id', 'Year':'year', 'Item_Name':'item_name', 'Item_Description':'item_description'}, inplace=True)
item_info_2017

,item_id,year,item_name,item_description
0,100054,2017,Burrito Bowl,Burrito Bowl; Choice of 1 Protein: Grilled Ado...
1,100057,2017,Quesadilla Kids Meal,"Quesadilla Kids Meal w/ Quesadilla, Applesauce..."
2,100060,2017,Burrito,"Burrito; Choice of 1 Protein: Grilled Adobo, T..."
3,100073,2017,Flour Tortilla,"Flour Tortilla, 12.5 in, Ingredients for Entrees"
5,100078,2017,Kids Meal,Kids Meal w/ Entree & Small Fountain Drink; Ch...
...,...,...,...,...
87808,99965,2017,Seafood Combo,"Seafood Combo w/ Signature Side, Biscuit & Dri..."
87809,99966,2017,Chicken Tenders Family Meals,"Chicken Tenders Family Meals, Popeyes Handcraf..."
87810,99968,2017,Cajun Fish,"Cajun Fish, Seafood"
87812,99969,2017,Fish & Popcorn Shrimp,"Fish & Popcorn Shrimp, Seafood"
87813,99971,2017,Seafood Po Boy Sandwich,Seafood Po Boy Sandwich on French Baguette w/ ...

In [168]:
# Fact table, nutrition data
nutrition_facts_2017 = dat2017[['Menu_Item_ID', 'Year', 'r_id', 'cat_id',
                       'Calories', 'Total_Fat', 'Saturated_Fat', 'Trans_Fat', 'Cholesterol',
                       'Sodium', 'Potassium',
                       'Carbohydrates', 'Protein', 'Sugar', 'Dietary_Fiber']]
nutrition_facts_2017.columns = ['item_id', 'year', 'r_id', 'cat_id',
                           'calories', 'total_fat', 'saturated_fat', 'trans_fat', 'cholesterol',
                           'sodium', 'potassium',
                           'carbs', 'protein', 'sugar', 'dietary_Fiber']
nutrition_facts_2017 = nutrition_facts_2017.drop_duplicates()
nutrition_facts_2017

,item_id,year,r_id,cat_id,calories,total_fat,saturated_fat,trans_fat,cholesterol,sodium,potassium,carbs,protein,sugar,dietary_Fiber
0,100054,2017,72,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100057,2017,72,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100060,2017,72,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100073,2017,72,11,300.0,7.0,3.0,0.0,0.0,760.0,50.0,52.0,8.0,2.0,3.0
5,100078,2017,73,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87808,99965,2017,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87809,99966,2017,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87810,99968,2017,70,5,130.0,2.0,0.0,0.0,15.0,550.0,NaN,12.0,5.0,1.0,1.0
87812,99969,2017,70,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87813,99971,2017,70,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
# Combo builds fact table
combo_facts_2017 = dat2017[dat2017['Customizable_Build_ID'].notna()]
combo_facts_2017 = combo_facts_2017[['Customizable_Build_ID', 'Menu_Item_ID', 'Year', 'Customizable_Builds', 'cat_id']]
combo_facts_2017.columns = ['combo_id', 'item_id', 'year', 'builds', 'cat_id']
combo_facts_2017

          combo_id  item_id  year             builds  cat_id
0      701119011.0   100054  2017          Main Item       5
1      702119031.0   100057  2017          Main Item       9
2      701119001.0   100060  2017          Main Item       9
4      705019061.0   100073  2017  Accompanying Item      11
5      712519131.0   100078  2017          Main Item       5
...            ...      ...   ...                ...     ...
87776   81222381.0      997  2017          Main Item       9
87807  692818991.0    99964  2017          Main Item       5
87808  692718981.0    99965  2017          Main Item       5
87809  692818961.0    99966  2017          Main Item       5
87811  692718981.0    99968  2017  Accompanying Item       5

[55639 rows x 5 columns]